modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8788
externalPort = 3001

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[userenv]

[userenv.shared]
RESEND_FROM_EMAIL = "noreply@digital.crettyard.ie"
RESEND_REPLY_TO = "info@crettyard.ie"
R2_ACCOUNT_ID = "08696d58f3debf289379db745274f8f9"
R2_BUCKET = "crettyardie"
R2_S3_ENDPOINT = "https://08696d58f3debf289379db745274f8f9.r2.cloudflarestorage.com/crettyardie"
D1_DATABASE_NAME = "crettyardie"
D1_DATABASE_ID = "6d498931-3903-4685-bfc7-c79504161f5f"
